saved_models/
data/
tmp
**/__pycache__
.idea
**/.ipynb_checkpoints
**/*.swp
**/*.swo
**/*.pyc
**/*.out
repos
bin
**/*.DS_Store
src/tmp
log/
model_configs/private
pretrained_models
nohups

src/preproc/private
venv
src/private
src/preproc/swda/.gitignore
.vscode